:root {
	--yellow: #fae100;
	--horizontal-space: 40px 25px 25px;
	--main-border: 1px solid rgba(0, 0, 0, 0.1);
	--fat-border: 4px solid rgba(0, 0, 0, 0.1);
	--text-opacity: rgba(0, 0, 0, 0.8);
	--font-bold: 600;
	--line-height: 20px;
}